/*Marko Golemovic*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");
#root {
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 655px) {
  #root {
    overflow: hidden;
  }
}

#root .center {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -ms-grid;
  display: grid;
  color: white;
  width: 80%;
}

@media (max-width: 655px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 50%;
  }
}

.container__item__one {
  text-align: center;
}

.container__item__three {
  padding: 0.5em;
  text-align: center;
}

.timer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  /*justify-content: space-between;
    flex-direction: row;*/
}

@media (max-width: 655px) {
  .timer-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
  }
}

.timer-container__item {
  height: 100px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 0px 40px 0 rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 40px 0 rgba(255, 255, 255, 0.8);
  background-color: #E91E63;
}

.form-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

@media (max-width: 655px) {
  .form-line {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.button-submit {
  width: calc(10% + 16px + 16px);
  padding: 16px;
  border: 0;
  border-radius: 2px;
  font-size: 1.05em;
  text-transform: uppercase;
  background-color: #E91E63;
  color: white;
}

@media (max-width: 655px) {
  .button-submit {
    width: calc(80% + 16px + 16px);
  }
}

.input-submit {
  width: 80%;
  padding: 1em;
  border: 0;
  border-radius: 2px;
  font-size: 105%;
}

.input-submit:focus {
  border: 2px solid #E91E63;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.days-letter, .hours-letter, .minutes-letter, .seconds-letter {
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
}

.days-number, .hours-number, .minutes-number, .seconds-time {
  font-size: 2.6em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/*  
@media (max-width: 425px){
    .timer-container{
        flex-direction: column;
      }
    
      #root{
        overflow: hidden;
        
      }
    
      
    .input-submit{
        width: 280px;
      }
    
    
    
}
*/
/*# sourceMappingURL=Sass.css.map */